<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Russian</string>
	<key>CFBundleDisplayName</key>
	<string>xpeccy</string>
	<key>CFBundleExecutable</key>
	<string>xpeccy</string>
	<key>CFBundleIconFile</key>
	<string>xpeccy.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ru.samstyle.xpeccy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>xpeccy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6</string>
	<key>CFBundleSignature</key>
	<string>iddqd</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
</dict>
</plist>