[Desktop Entry]
Name=Xpeccy
Version=1.0
Exec=../../bin/xpeccy
Comment=ZX Spectrum emulator
Icon=../icons/xpeccy.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Game;