[Desktop Entry]
Version=1.0
Name=Xpeccy
Name[ru]=Xpeccy
Comment=ZX Spectrum emulator
Comment[ru]=Эмулятор ZX Spectrum
Exec=xpeccy
Icon=xpeccy
Type=Application
Terminal=false
StartupNotify=true
Categories=Game;Emulator;