[Desktop Entry]
Name=Xpeccy
Version=1.0
Exec=xpeccy
Comment=ZX Spectrum emulator
Icon=xpeccy
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Game;